# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/

# Editor/IDE-specific files
.idea/
.vscode/
*.swp

# Sensitive environment variables
.env
.flaskenv

# Flask session files (if using file-based sessions)
/*_session/

# Databases
*.db
*.sqlite
/instance/

