# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# Flask
instance/
.webassets-cache

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Database
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
docker-compose.override.yml

# Testing
.coverage
htmlcov/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Data files (se você usar pasta de dados)
data/
